/* MEDIA QUERY */
/* 
@media (max-width: 480px) {
    /* HEADER 
       .row {
           width: 100%;
       }

      BODY
       /* NOSOTROS 


       .seccion-contador {
           margin: 10px;
           flex-direction: column;

           .numero-contador {
               font-size: 50px;
               margin: unset;
           }

           p {
               font-size: 20px;
               margin: 0;
           }
       }

       /* SOLUCIONES 
       .contenido-soluciones {
           margin: 20px;

           .solucion {
               margin: unset;
               flex-direction: column;
               flex-wrap: wrap;
               align-items: center;

               &:last-of-type {
                   flex-direction: column;
               }

               img {
                   height: auto;
                   width: 70%;
                   object-fit: cover;
                   margin-bottom: 20px;
               }

               p {
                   padding: 0;
               }
           }
       }

       /* INTEGRACIONES /
       .contenido-integracion {
           height: 570px;

           #integracion-imagen1 {
               width: 150px;
               height: 150px;
               position: relative;
               top: 50px;
               left: 65px;
           }

           #integracion-imagen2 {
               width: 150px;
               height: 150px;
               position: relative;
               top: 130px;
               left: -17px;
           }

           .resumen-integracion {
               top: 178px;
               left: 25px;
               width: 300px;
           }
       }

       /* CONTACTO 
       .contacto-container {
           display: flex;
           flex-direction: column;
           align-items: center;
           padding: 0;

           .contacto-subcontainer-item {
               margin: 10px;

               img {
                   height: 30px;
                   width: 30px;
                   margin-right: 10px;
               }
           }

           .iframe-ubicacion-container {
               margin-bottom: 30px;
           }
       }
       }
       footer {
           .contenido-footer {
               display: flex;
               flex-direction: column;
               justify-content: center;
               margin: 0px 20px;

               img {
                   height: 150px;
                   width: auto;
                   padding: 20px 0;
               }

               p {
                   text-align: center;
                   font-size: 18px;
               }
           }
       }
   } */
/* General */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "montserrat", sans-serif;
  src: url(../recursos/Montserrat/Montserrat-Italic-VariableFont_wght.ttf) url(../recursos/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-family: "roboto", sans-serif;
  src: url(../recursos/Roboto/Roboto-Black.ttf) url(../recursos/Roboto/Roboto-Light.ttf) url(../recursos/Roboto/Roboto-Medium.ttf);
}
/* Layout */
header {
  background-color: #000;
  height: auto;
  width: 100%;
  padding: 20px;
  justify-content: space-evenly;
}
header .navbar-brand {
  margin: 0;
}
header .navbar-brand img {
  height: 75px;
  width: 200px;
  padding: unset;
  margin: 0;
}
@media (max-width: 480px) {
  header .navbar-brand img {
    height: 75px;
    width: 200px;
    padding: unset;
    margin: 0;
  }
}
header .navbar-nav .nav-link {
  font-size: 16px;
  width: fit-content;
}
@media (max-width: 480px) {
  header .navbar-nav .nav-link {
    font-size: 16px;
    width: fit-content;
  }
}

.container-fluid {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  --bs-bg-opacity: 0;
  background-color: #000;
}

.navbar {
  --bs-navbar-active-color: $color-secundario;
  --bs-navbar-active-size: 16px;
  --bs-navbar-color: $color-secundario;
  --bs-navbar-toggler-border-color: $color-secundario;
  --bs-navbar-toggler-icon-color: $color-secundario;
  padding: 0;
}
.navbar-brand img {
  height: 60px;
  width: 200px;
  object-fit: cover;
}
.navbar-nav .nav-link {
  font-family: "montserrat", sans-serif;
  font-size: 22px;
  color: #0000FF;
}
.navbar-nav .nav-link:hover {
  font-family: "montserrat", sans-serif;
  color: #000;
  background-color: #0000FF;
}
.navbar-toggler-icon {
  background-color: #0000FF;
}
.navbar-toggler:hover {
  position: absolute;
  right: 0;
  z-index: 99999999;
}
.navbar-toggler:active {
  position: absolute;
  right: 0;
}

footer {
  background-color: #000;
}
footer .contenido-footer {
  display: inline-block;
}
footer .contenido-footer a {
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
}
footer .contenido-footer p {
  font-size: 20px;
  color: #FFF;
}
footer div {
  margin: 4px 70px;
  padding-bottom: 40px;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  /*index*/
  /*nosotros*/
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Montserrat", sans-serif;
  color: #0000FF;
}
body #banner {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
  z-index: 1;
}
body #banner h2 {
  margin: 20px;
}
body .col-8 {
  display: flex;
  flex-direction: column;
  align-items: end;
}
body .col-lg-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .card {
  font-family: "montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 500px;
  width: 350px;
  overflow: hidden;
}
body .card .card-img-top {
  height: 300px;
  width: 300px;
  object-fit: contain;
  padding: 20px;
}
body .btn-primary {
  --bs-btn-bg: $color-secundario;
  --bs-btn-border-color: $color-secundario;
  --bs-btn-hover-bg: $color-terceario;
  --bs-btn-hover-color: $color-secundario;
}
body .nuestras-marcas {
  display: inline-block;
  margin-left: 100px;
}
body .seccion-contador {
  font-weight: bold;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .seccion-contador .numero-contador {
  font-size: 60px;
  margin: 0px 20px;
}
body .seccion-contador p {
  font-size: 30px;
  color: #0000FF;
  margin: unset;
}
body .contenido-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
}
@media (max-width: 480px) {
  body .contenido-nosotros {
    flex-direction: column;
    margin: unset;
  }
}
body .contenido-nosotros img {
  height: 400px;
  width: auto;
}
@media (max-width: 480px) {
  body .contenido-nosotros img {
    margin-bottom: 20px;
    height: auto;
    width: 100%;
  }
}
body .contenido-nosotros p {
  width: 500px;
  font-size: 22px;
}
@media (max-width: 480px) {
  body .contenido-nosotros p {
    width: 90%;
    font-size: 20px;
  }
}
body .seccion-contador {
  margin: 10px;
  flex-direction: row;
}
@media (max-width: 480px) {
  body .seccion-contador {
    flex-direction: column;
    margin: unset;
  }
}
body .seccion-contador .seccion-individual-contador {
  margin: 20px;
}
body .seccion-contador .numero-contador {
  font-size: 50px;
  margin: unset;
}
@media (max-width: 480px) {
  body .seccion-contador .numero-contador {
    font-size: 42px;
  }
}
body .seccion-contador p {
  font-size: 22px;
  margin: 0;
}
@media (max-width: 480px) {
  body .seccion-contador p {
    font-size: 20px;
    text-align: center;
  }
}
body .contenido-soluciones {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
}
body .contenido-soluciones .solucion {
  margin: 40px;
  display: flex;
  flex-direction: row;
}
body .contenido-soluciones .solucion img {
  height: 200px;
  width: 50%;
  object-fit: cover;
}
body .contenido-soluciones .solucion p {
  padding: 50px 100px;
}
body .contenido-soluciones .solucion:last-of-type {
  flex-direction: column;
}
body .contenido-soluciones .solucion:last-of-type p {
  padding-left: 0px;
}
body .contenido-soluciones .solucion:last-of-type img {
  padding-right: 100px;
}
@media (max-width: 480px) {
  body .contenido-soluciones .solucion .contenido-soluciones {
    margin: 20px;
  }
  body .contenido-soluciones .solucion .contenido-soluciones .solucion {
    margin: unset;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  body .contenido-soluciones .solucion .contenido-soluciones .solucion:last-of-type {
    flex-direction: column;
  }
  body .contenido-soluciones .solucion .contenido-soluciones .solucion img {
    height: auto;
    width: 70%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  body .contenido-soluciones .solucion .contenido-soluciones .solucion p {
    padding: 0;
  }
}
body .contenido-integracion {
  height: 700px;
}
body .contenido-integracion #integracion-imagen1 {
  width: 400;
  height: 400;
  position: relative;
  top: 50px;
  left: 30px;
}
body .contenido-integracion #integracion-imagen2 {
  width: 400;
  height: 400;
  position: relative;
  top: 150px;
  left: -150px;
}
body .contenido-integracion .resumen-integracion {
  position: relative;
  top: -150px;
  left: 700px;
  width: 550px;
}
body .contenido-contacto {
  display: grid;
  grid-template-columns: 1fr;
}
body .contenido-contacto .subtitulo-contacto {
  text-align: center;
}
body .contenido-contacto .redes-mail {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
body .contenido-contacto .contacto-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
}
body .contenido-contacto .container-nivel2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
body .contenido-contacto .contacto-subcontainer-item {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .contenido-contacto .contacto-subcontainer-item img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
body .contenido-contacto .iframe-ubicacion {
  height: 450px;
  width: auto;
  margin: 20px;
}

/*# sourceMappingURL=main.css.map */
