@font-face {
    font-family: 'montserrat', sans-serif;
    src:url(../recursos/Montserrat/Montserrat-Italic-VariableFont_wght.ttf)
        url(../recursos/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'roboto', sans-serif;
    src:url(../recursos/Roboto/Roboto-Black.ttf)
        url(../recursos/Roboto/Roboto-Light.ttf)
        url(../recursos/Roboto/Roboto-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    color: blue
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    height: 150px;
    width: 100%;
    overflow-x: hidden;
}

.isologotipo {
    align-items: center;
    margin: 20px;
    height: 75px;
    width: 250px;
} 

nav {
    display: inline-block;
    width: 100%;
    position: relative;
    left: 360px;
}

nav ul {
    list-style-type: none;
    position: relative;
}

nav li {display: inline-block;
margin: 0px 25px;
}
nav a {text-decoration: none;
    color: blue;
}
nav a:visited {
   color: blue; 
}

/*BODY*/
/*index*/
#banner {
    position: relative;
    top: 0px;
    left:0px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
}
.titulo-seccion-soluciones {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.seccion-soluciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    margin: 20px 30px;
    height: 500px;
    width: 600px;
    overflow: hidden;
}
.card-img-top {
    height: 300px;
    width: 100%;
    object-fit: cover;
    padding: 20px;
}
.card:nth-of-type(2) .card-img-top {
    height: auto;
    margin: 51px 0px;
}
body div .nuestras-marcas {
    display: inline-block;
    margin-left: 100px;
}

.seccion-contador{
    font-weight: bold;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.numero-contador{
    font-size: 60px;
    margin: 0px 20px;
    }

.seccion-contador p {
    font-size: 30px;
    color: blue;
    margin: unset;
}

/*nosotros*/
.contenido-nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px;
}
main img {
    height: 400px;
    width: auto;
}
main p {
    width: 500px;
}

/*integraciones*/
#main-integracion {
    height: 700px;
}

#integracion-imagen1 {
    width: 400;
    height: 400;
    position: relative;
    top:50px;
    left: 30px;
}
#integracion-imagen2 {
    width: 300;
    height: 400;
    position: relative;
    top: 150px;
    left: -150px;
    border: 3px solid greenyellow;

}


/*FOOTER*/
footer {background-color:azure
}   
.contenido-footer {
    display: inline-block;}
.contenido-footer #enlace-desarrollador a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

footer div {
    margin: 4px 70px;
    padding-bottom: 40px;
}