@font-face {
    font-family: 'montserrat', sans-serif;
    src:url(../recursos/Montserrat/Montserrat-Italic-VariableFont_wght.ttf)
        url(../recursos/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'roboto', sans-serif;
    src:url(../recursos/Roboto/Roboto-Black.ttf)
        url(../recursos/Roboto/Roboto-Light.ttf)
        url(../recursos/Roboto/Roboto-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    color: blue
}

/* HEADER */
.col-6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
}
.container-fluid{
    margin:0;
    padding:0;
}
header {
    background-color:black;
    height: 100px;
    width: 100%;
    padding: 20px;
}
.navbar{
    --bs-navbar-active-color: blue;
    --bs-navbar-active-size:16px;
    --bs-navbar-color: blue;
    --bs-navbar-toggler-border-color: blue;
    --bs-navbar-toggler-icon-color: blue;
}
.navbar-brand img {
    height: 60px;
    width: 200px;
    object-fit: cover;
}
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}
.navbar-nav .nav-link {
    font-family: 'montserrat', sans-serif;
    font-size: 22px;
    color: blue;
}
.navbar-nav .nav-link:hover {
    font-family: 'montserrat', sans-serif;
    color: black;
    background-color: blue;
}
.navbar-toggler-icon{
    background-color: blue;
}
.navbar-toggler:hover{
    position: absolute;
    right: 0; /* Intentando que el menu desplegable se quede a la derecha*/
    z-index: 99999999; /* Intentado que el banner quede por detras del menu desplegable */
}
.navbar-toggler:active{
    position: absolute;
    right: 0;
}


/*BODY*/
/*index*/
#banner {
    position: relative;
    top: 0px;
    left:0px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
    z-index: 1; 
}

h2{
    margin: 20px;
} 
.col-8 {
    display: flex;
    flex-direction: column;
    align-items: end;
    
}
.col-lg-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 500px;
    width: 350px;
    overflow: hidden;
}
.card-img-top {
    height: 300px;
    width: 300px;
    object-fit: contain;
    padding: 20px;
}
body div .nuestras-marcas {
    display: inline-block;
    margin-left: 100px;
}

.seccion-contador{
    font-weight: bold;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.numero-contador{
    font-size: 60px;
    margin: 0px 20px;
}

.seccion-contador p {
    font-size: 30px;
    color: blue;
    margin: unset;
}

/*nosotros*/
.contenido-nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px;
}
.contenido-nosotros img {
    height: 400px;
    width: auto;
}
.contenido-nosotros p {
    width: 500px;
}

/*soluciones*/
.contenido-soluciones {
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
}
.solucion {
    margin: 40px;
    display: flex;
    flex-direction: row;
}
.solucion img {
    height: 200px;
    width: 50%;
    object-fit: cover;
}
.solucion p {
    padding: 50px 100px;
}
.solucion:last-of-type {
    flex-direction: row-reverse;
}
.solucion:last-of-type p {
    padding-left: 0px;
}
.solucion:last-of-type img {
    padding-right: 100px;
}

/*integraciones*/
.contenido-integracion {
    height: 700px;
}

#integracion-imagen1 {
    width: 400;
    height: 400;
    position: relative;
    top:50px;
    left: 30px;
}
#integracion-imagen2 {
    width: 400;
    height: 400;
    position: relative;
    top: 150px;
    left: -150px;
}
.resumen-integracion {
    position: relative;
    top:-150px;
    left: 700px;
    width: 550px;
}

/*contacto*/
.contenido-contacto{
    display: grid;
    grid-template-columns: 1fr;
}

.subtitulo-contacto{
    text-align: center;
    
}
.redes-mail{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.contacto-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}
.container-nivel2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.contacto-subcontainer-item{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contacto-subcontainer-item img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}


/*FOOTER*/
footer {background-color:black;
}   
.contenido-footer {
    display: inline-block;}
.contenido-footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.contenido-footer p {
    font-size: 20px;
    color: white;
}

footer div {
    margin: 4px 70px;
    padding-bottom: 40px;
}

/* MEDIA QUERY MOBILE*/ 

/* Las Paginas 100% responsive son 'Index' (mediante grilla de bootstrap), 'Soluciones' e 'Integraciones' (utilzando el otro metodo), el resto esta en progreso */

@media (max-width:480px){

    /* HEADER */
    .row{
        width: 100%;
    }
    header{
       padding: 0 20px;
       height: 110px;

    }
    .navbar-brand {
        margin: 0;
    }    
    .navbar-brand img {
        height: 75px;
        width: 200px;
        padding: unset;
        margin: 0;
    }
    .navbar-nav .nav-link{
    font-size: 16px;
    width: fit-content;
    }

    /* NOSOTROS */
    .contenido-nosotros {
        flex-direction: column;
        margin: unset;
    }
    .contenido-nosotros img {
        height: auto;
        width: 350px;
    }
    .contenido-nosotros p{
        width: 80%;
    }
    .seccion-contador {
        margin: 10px;
        flex-direction: column;
    }
    .numero-contador{
        font-size: 50px;
        margin: unset;
        }
    
    .seccion-contador p {
        font-size: 20px;
        margin: 0;
    }

    /* SOLUCIONES */
    .contenido-soluciones {
        margin: 20px;
    }
    .solucion {
        margin: unset;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .solucion:last-of-type{
        flex-direction: column;
    }
    .solucion img {
        height: auto;
        width: 70%;
        object-fit: cover;
        margin-bottom: 20px;
    }
    .solucion p {
        padding: 0;
    }
    /* INTEGRACIONES */
    .contenido-integracion {
        height: 570px;
    }
    #integracion-imagen1 {
        width: 150;
        height: 150;
        top: 50px;
        left: 65px;
    }
    #integracion-imagen2 {
        width: 150;
        height: 150;
        top: 130px;
        left: -17px;
    }
    .resumen-integracion {
        top: 178px;
        left: 25px;
        width: 300px;
    }
    /* FOOTER */
    .contenido-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 20px;
    }
    .contenido-footer img{
        height: 150px;
        width:auto;
        padding: 20px 0;
    }
    .contenido-footer p{
        text-align: center;
        font-size: 18px;
    }
}