body {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', sans-serif;
        color: $color-secundario;
    }
/*index*/
    #banner {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 500px;
        object-fit: cover;
        overflow: hidden;
        z-index: 1;
    }
    .titulo-index {
        position: absolute;
        top: 253px;
        left: 573px;
        z-index: 2;
        text-align: left;
        width: 690px;
        color: $color-terceario;
        text-shadow: 2px 2px 4px black;
        @include media-query-mobile (){
            position: relative;
            top: -412px;
            left: 28px;
            font-size: 20;
            width: 350px;
        }
    }
    h2 {margin: 20 20 0 20;
    }
    .col-8 {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .row {
        --bs-gutter-x: 0;
    }
    .col-lg-4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .card {
        font-family: 'montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        height: 500px;
        width: 350px;
        overflow: hidden;

        .card-img-top {
            height: 300px;
            width: 300px;
            object-fit: contain;
            padding: 20px;
        }
    }
    .btn-primary {
        --bs-btn-bg: $color-secundario;
        --bs-btn-border-color: $color-secundario;
        --bs-btn-hover-bg: $color-terceario;
        --bs-btn-hover-color: $color-secundario;
    }
    .nuestras-marcas {
        display: inline-block;
        margin-left: 100px;
    }
    .seccion-contador {
        font-weight: bold;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .numero-contador {
            font-size: 60px;
            margin: 0px 20px;
        }
        .p-contador {
            font-size: 34px;
            color: $color-secundario;
            margin-left: 20px;
            @include media-query-mobile (){
                font-size: 24px;
                margin: 0 0 20 0;
            }
        }
    }
    /*nosotros*/
    .contenido-nosotros {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 40px;
        @include media-query-mobile(){
            flex-direction: column;
            margin: unset;
        }

        img {
            height: 400px;
            width: auto;
            @include media-query-mobile(){
                margin-bottom: 20px;
                height: auto;
                width: 100%;
            }
        }

        p {
            width: 500px;
            font-size: 22px;
            @include media-query-mobile(){
                width: 90%;
                font-size: 20px
            }
        }
    }   
    .seccion-contador {
        margin: 10px;
        flex-direction: row;
        @include media-query-mobile(){
            flex-direction: column;
            margin: unset;
        }
        .seccion-individual-contador {
            margin: 20px;
            }
            .numero-contador {
                font-size: 50px;
                margin: unset;
                @include media-query-mobile (){
                    font-size: 42px;
                    text-align: center;
                }
            }                   
            p {
                font-size: 22px;
                margin: 0;
                @include media-query-mobile (){
                    font-size: 20px;
                    color: $color-secundario;
                    text-align: center;
                }
            }
        }
    /*soluciones*/
    .contenido-soluciones {
        margin: 20px 50px;
        display: flex;
        flex-direction: column;
        @include media-query-mobile(){
            margin: 20px;
        }  
        .solucion {
            margin: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            @include media-query-mobile () {
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                margin: unset;
            }
            img {
                height: 150px;
                width: auto;
                object-fit: cover;
            }
            p {
                padding: 0px 90px;
                font-size: 20px;
                @include media-query-mobile (){
                    padding: 20px;
                    font-size: 20px;
                }
            }
            &:last-of-type {
                flex-direction: row-reverse;
                @include media-query-mobile (){
                    justify-content: center;
                    align-items: center;
                }
            
                p {
                    padding-left: 0px;
                }
                img {
                    padding-right: 100px;
                    @include media-query-mobile(){
                        height: 150px;
                        width: auto;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .contenido-integracion {
        height: 700px;

        #integracion-imagen1 {
            width: 400;
            height: 400;
            position: relative;
            top:50px;
            left: 30px;
            @include media-query-mobile(){
                width: 150;
                height: auto;
                top: 70px;
                left: 57px;
            }
        }
        #integracion-imagen2 {
            width: 400;
            height: 400;
            position: relative;
            top: 150px;
            left: -150px;
            @include media-query-mobile (){
                width: 150px;
                height: auto;
                top:150px;
                left: 0px;
            }
        }
        .resumen-integracion {
            position: relative;
            top:-150px;
            left: 700px;
            width: 550px;
            @include media-query-mobile(){
                position: relative;
                top: 220px;
                left: 30px;
                width: 320px;
                font-size: 20px;
            }
        
        }

    }

    .contenido-contacto {
        display: grid;
        grid-template-columns: 1fr;
        @include media-query-mobile(){
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .subtitulo-contacto {
            text-align: center;
            margin-top: 20px;
        }

        .redes-mail {
            display: flex;
            flex-direction: row;
            padding: 20px;
        }

        .contacto-container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 30px;
            @include media-query-mobile(){
                flex-direction: column;
                justify-content: center;
            }
        }

        .container-nivel2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }

        .contacto-subcontainer-item {
            margin: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            img {
                height: 50px;
                width: 50px;
                margin-right: 20px;
            }
        }

        .iframe-ubicacion {
            height: 450px;
            width: auto;
            margin: 20px;
        }
    }
}