footer {
    background-color: $color-primario;

    .contenido-footer {
        display: inline-block;

        a {
            text-decoration: none;
            font-weight: bold;
            color: $color-terceario;
        }

        p {
            font-size: 20px;
            color: $color-terceario;
        }
    }

    div {
        margin: 4px 70px;
        padding-bottom: 40px;
    }
}