footer {
    background-color: $color-primario;

    .contenido-footer {
        display: inline-block;
        @include media-query-mobile(){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 0px;
        }

        a {
            text-decoration: none;
            font-weight: bold;
            color: $color-terceario;
        }

        p {
            font-size: 20px;
            color: $color-terceario;
            @include media-query-mobile(){
            padding:unset;
            }
        }
        
    }

    div {
        margin: 4px 70px;
        padding-bottom: 40px;
    }
}