header {
    background-color: $color-primario;
    height:auto;
    width: 100%;
    padding: 20px;
    justify-content: space-evenly;
        @include media-query-mobile(){
        }
    .navbar-brand {
        margin: 0;

        img {
            height: 75px;
            width: 200px;
            padding: unset;
            margin: 0;
            @include media-query-mobile(){
                 height: 75px;
                width: 200px;
                padding: unset;
                margin: 0;
            }
        }
    }
        .navbar-expand-lg .navbar-collapse {
            justify-content: end;
        }
            .nav-link {
            font-size: 16px;
            width: fit-content;
            @include media-query-mobile(){
                font-size: 16px;
                width: fit-content;
            }
        }
    }
    
    .container-fluid {
        margin: 0;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        --bs-bg-opacity: 0;
        background-color: $color-primario;
    }

    .navbar {
        --bs-navbar-active-color: $color-terceario;
        --bs-navbar-active-size: 16px;
        --bs-navbar-color: $color-terceario;
        --bs-navbar-toggler-border-color: $color-secundario;
        --bs-navbar-toggler-icon-color: $color-secundario;
        padding:0;

        &-brand img {
            height: 60px;
            width: 200px;
            object-fit: cover;
        }

        &-nav .nav-link {
            font-family: 'montserrat', sans-serif;
            font-size: 22px;
            color: $color-terceario;
            &:first-of-type {color: $color-terceario }

            &:hover {
                font-family: 'montserrat', sans-serif;
                color: $color-primario;
                background-color: $color-secundario;
            }
        }

        &-toggler-icon {
            background-color: $color-secundario;
        }

        &-toggler:hover {
            position: absolute;
            right: 0;
            z-index: 99999999;
        }

        &-toggler:active {
            position: absolute;
            right: 0;
        }
}